<%- include('header.html') -%>
    <h1>System Error</h1>
    <div id="error_content">
    <p id="status">Status - <%=error%></p>
    <% if (error_message) { %>
    <p id="message">Message - <%=error_message%></p>
    <% }; %>
    <% if (typeof detail === 'string') { %>
    <p id="detail"><%=detail%></p>
    <% }; %>
    <% if (typeof failure_code  === 'string') { %>
    <p id="failure_code"><%=failure_code%></p>
    <% }; %>
    <% if (typeof debug_message  === 'string') { %>
    <p id="debug_message"><%=debug_message%></p>
    <% }; %>
    </div>    
<%- include('footer.html') -%>